{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'login.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'login.js' %}" defer=""></script>
</head>
<body>
<div class="container2">
    <h1>JUMPSTART</h1>
    {% if messages %}
    {% for message in messages %}
        <p class="p-3 mb-2 bg-success text-dark">{{ message }}</p>
    {% endfor %}
{% endif %}
</div>
<div class="container">
    <form class="signIn" method="POST"> {% csrf_token %}
        <h3>Welcome</br>Back !</h3>
        <a href="{% provider_login_url 'google' %}" target="_blank" class="">
         <img src="https://cdn.cdnlogo.com/logos/g/35/google-icon.svg" width="30" height="30">
        </a>
        <p>- or -</p>
        {{ form.email }}
        {{ form.password }}
        <button class="form-btn sx back" type="button">Back</button>
        <button class="form-btn dx" type="submit">Log In</button>
    </form>
        <form class="signUp" method="POST"> {% csrf_token %}
        <h3>Create Your Account</h3>
        <p>Just enter your email address</br>
            and your password for join.
        </p>
        <input class="w100" type="email" placeholder="Insert eMail" reqired autocomplete='off'/>
        <input type="password" placeholder="Insert Password" reqired/>
        <input type="password" placeholder="Verify Password" reqired/>
        <button class="form-btn sx log-in" type="button">Log In</button>
        <button class="form-btn dx" type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>